<div class="container" id="black_background" id="orbit">
  <%= link_to 'Explore the Lab', gifs_path, class: "button", id: "add_gif" %>
  <div class="orbit-container">
    <ul data-orbit class="orbit-styling">
      <% @gifs.each do |gif| %>
        <li class="orbit_image">
        <%= image_tag(gif.url, :class => "orbit_image") %>
        </li>
      <% end %>
    </ul>
  </div>
</div>