/*Colors*/
$maingreen: #00A000;
$maingray: #D9D9D9;
$mainyellow: #ffc000;
$mainblue: #31859C;
$mainfont: "Century Gothic";
$mainred: #800000;

/*Sizes*/
$mainwidth: 900px;
$bordercurve: 2px;

body {
  margin: auto;
  background: white;
  font-family: $mainfont;

  header {
    width: cover;
    background: $mainred;
    background-repeat: no-repeat;
    background-size: cover;
    height: 175px;
    margin: 0 auto;
    border-radius: 0px;
    text-align: center;
  
    img.header_image {
      height: 150px;
      width: 150px;
      padding-top: 10px;
      position: middle;
    }

    .no_link_decoration {
      text-decoration: none;
      color: white;
    }
    .no_link_decoration:hover {
      color: #CCC;
    }
  }

  h1 { 
    color: #fff;
    /*text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;*/
    font-size: 80px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-decoration: none;
  }

  p.tagline {
    color: white;
    font-size: 24px;
    padding: 0px;
    margin: 0px;
  }


  li.index_gif_box {
    margin: 0 auto;
  }

  #add_gif {
    width: 100%;
    text-align: center;
    background: $mainblue;
    font-size: 18px;
  }

  #add_gif:hover {
    background: lighten($mainblue, 10);
  }

  div#index_container {
    width: 1240px;
    margin: 0 auto;
  }

  div.index_cell {
    width: 300px;
    margin-left: 10px;
    float: left;
  }

  .gif_index {
    width: 300px;
  }

  p.title {
    color: $mainblue;
    font-size: 20px;
    margin: 0 auto;
  }

  div.form {
    width: $mainwidth/2;
    margin: 0 auto;
    padding: 10px 20px 0px 20px;
    border: 2px solid $mainred;
    margin-top: 10px;
  
    div.url_link {
      width: 150px;
      margin: 0 auto;
      padding: 2px;
    }

  }

  p.form_label {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
  }

  #gif_keyword1, #gif_keyword2, #gif_keyword3 {
    width: 200px;
    padding: 0px;
  }

  // Welcome Orbit


  div#black_background {
    background: black;
    margin: 0 auto;
    margin-top: 0px;
  }

  div.orbit-container {
    width: $mainwidth/2;
    height: $mainwidth/2;
    margin: 0 auto;
    backbround: black;
  
  }

  .orbit-styling {
    margin-top: 50px;
  }

  orbit_image {
    width: 400px;
    position: relative;
    margin: 0 auto;
    max-height: 250px;
    margin-top: 50px;
  }

}

@media (max-width: 1025px) {
  img.header_image {
      display: none;
    }

}
